* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #5cfc3cbd !important;
  font-family: "Press Start 2P", system-ui !important;
  /* color: #2fd680 !important; */
}

html,
body {
  width: 100%;
  overflow: hidden auto;
  /* overflow-y: auto;  */
  font-size: 62.5%;
  background-color: #000;
}

h1 {
  text-align: center;
  font-size: 3.4rem;
  margin: 15rem 0 3rem 0;
  line-height: 1.3;
  letter-spacing: 3px;
}

.loader {
  width: 4.4rem;
  height: 4.4rem;
  border: 5px solid #19ad57;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

p {
  font-size: 1.2rem;
}

.container,
.fetch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 20vh;
  width: 80vw;
  gap: 0.5rem;
}

.quiz-con {
  height: 100vw;
  width: 60vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* justify-content: space-between; */
}

.getQuiz,
.resartQuiz {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #000;
}
.quiz-btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 2px solid #19ad57;
  background-color: #333;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  /* text-align: center; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 40vw;
  margin-top: 2rem;
}

label {
  font-size: 1.5rem;
  line-height: 1.2;
}

.active-quiz {
  transform: translateY(-1rem);
  background-color: gray;
  color: #fff;
  transition: 0.6s ease;
}

h3 {
  font-size: 1.3rem;
  text-align: center;
  margin: 0.5rem;
}
figure {
  border: 2px solid rgb(5, 66, 5);
  height: 22.4rem;
  width: 30rem;
  padding-top: 2rem;
}
.result-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 3rem;
  margin: 5rem auto;
  width: 52vw;
}
.result {
  font-size: 4.4rem;
  text-align: center;
}
.result-container p {
  font-size: 2rem;
}
ol {
  padding-top: 1rem;
  width: 100%;
}
ol li {
  font-size: 1.2rem;
  background-color: #333;
  list-style: none;
  color: #fff;
  padding: 1rem;
  width: 100%;
  border: 2px solid #fff;
  border-collapse: separate;
}
.option {
  margin: 1rem 0 0 1rem;
}
a:link {
  font-size: 1.5rem;
}
.input-con {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  gap: 2rem;
}

input[type="submit"] {
  background-color: #065527;
  padding: 0.5rem 1rem;
  color: #fff !important;
  margin-top: 1rem;
}
.end {
  background-color: #065527;
  padding: 0.5rem 1rem;
  color: #fff !important;
}

@media (max-width: 64em) and (max-height: 38em) {
  h1 {
    margin: 10rem 0 3rem;
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  label {
    font-size: 1.2rem;
  }
  input[type="submit"],
  .end {
    font-size: 1.2rem;
  }
}
@media (max-width: 48em) and (max-height: 64em) {
  h1 {
    font-size: 2.4rem;
  }
  .getQuiz,
  .resartQuiz {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  label {
    font-size: 1.2rem;
  }
  input[type="submit"],
  .end {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  input[type="submit"] {
    margin-top: 5rem;
  }
  .result-container {
    gap: 3rem;
    width: 79vw;
    margin: 5rem auto;
  }
}
@media (max-width: 48em) and (max-height: 45em) {
  h1 {
    font-size: 2.4rem;
  }
  .getQuiz,
  .resartQuiz {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  label {
    font-size: 1.2rem;
  }
  input[type="submit"],
  .end {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  input[type="submit"] {
    margin-top: 5rem;
  }
  .result-container {
    gap: 3rem;
    width: 79vw;
    margin: 5rem auto;
  }
}
@media (max-width: 39em) and (max-height: 75em) {
  .fetch-container {
    margin: 0 22rem;
  }
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .getQuiz {
    padding: 1rem;
    /* transform: translateX(170px); */
  }
}
@media (max-width: 36em) and (max-height: 64em) {
  .fetch-container {
    margin: 9px 17rem;
  }
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 5rem auto;
  }
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .quiz-con {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 74vw;
    height: 101vw;
    margin: 5rem auto;
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5rem;
    line-height: 1.3;
    letter-spacing: 3px;
  }
}
@media (max-width: 35em) and (max-height: 75em) {
  .fetch-container {
    margin: 9px 17rem;
  }
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 5rem auto;
  }
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .quiz-con {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 74vw;
    height: 101vw;
    margin: 5rem auto;
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5rem;
    line-height: 1.3;
    letter-spacing: 3px;
  }
}
@media (max-width: 35em) and (max-height: 45em) {
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 5rem auto;
  }
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .quiz-con {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 74vw;
    height: 101vw;
    margin: 5rem auto;
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5rem;
    line-height: 1.3;
    letter-spacing: 3px;
  }
}
@media (max-width: 29em) and (max-height: 45em) {
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 5rem auto;
  }
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .quiz-con {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 74vw;
    height: 101vw;
    margin: 5rem auto;
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5rem;
    line-height: 1.3;
    letter-spacing: 3px;
  }
}
@media (max-width: 27em) and (max-height: 64em) {
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 5rem auto;
  }
  .container,
  .fetch-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    height: 20vh;
    width: 25vw;
    gap: 0.5rem;
  }

  .quiz-con {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 74vw;
    height: 101vw;
    margin: 5rem auto;
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5rem;
    line-height: 1.3;
    letter-spacing: 3px;
  }
}
@media (max-width: 27em) and (max-height: 47em) {
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 5rem auto;
  }
  .container,
  .fetch-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    height: 20vh;
    width: 25vw;
    gap: 0.5rem;
  }

  .quiz-con {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 74vw;
    height: 101vw;
    margin: 5rem auto;
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5rem;
    line-height: 1.3;
    letter-spacing: 3px;
  }
}
@media (max-width: 27em) and (max-height: 45em) {
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 5rem auto;
  }
  .container,
  .fetch-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    height: 20vh;
    width: 25vw;
    gap: 0.5rem;
  }

  .quiz-con {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 74vw;
    height: 101vw;
    margin: 5rem auto;
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5rem;
    line-height: 1.3;
    letter-spacing: 3px;
  }
}
@media (max-width: 26em) and (max-height: 46em) {
  .result-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 5rem auto;
  }
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .quiz-con {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 74vw;
    height: 101vw;
    margin: 5rem auto;
    display: flex;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5rem;
    line-height: 1.3;
    letter-spacing: 3px;
  }
}